* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: block;
    font-family: Tahoma, sans-serif;
    background-color: #7d1051;
    }
    
.pagina{
    margin: auto;
    max-width: 1200px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
}
/*MENU----------------------*/
.header{
    background-color: #282828;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 3.5em;
    margin: auto 20px;
}
.header .button{
    display: none;
    cursor: pointer;
    background-color: transparent;
}
.header .a{
    color: aliceblue;
    text-decoration: none;
}
.header .svg{
    width: 2em;
    height: 2em;
    fill: white;
}
.header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
.header .li{
    margin: 0.5em;
}

/*SLIDER----------------------------------*/
.slider{
    overflow: hidden;
    height: 100vh;
    margin: 80px 50px 20px;
}
.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.4s ease-in;
}
.slider--inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*NOSOTROS----------------------------------*/
.nosotros{
    margin: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nosotros h1{
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center
}
.nosotros p{
    font-size: 1.4em;
    margin-bottom: 20px;
    text-align: center
}

@media screen and (max-width:600px){
    .header .button{
        display: block;
    }
    .header .nav{
        width: 100%;
        display: none;
    }
    .header .nav.activo{
        display: block;
    }
    .header .ul{
        flex-direction: column;
    }
    .header .li{
        margin: 1rem 0;
    }
    
}